# KnotInfo BallMapper

This notebook utilizes BallMapper to visualize the space of different knot polymonials.   

Data have been downloaded from https://knotinfo.math.indiana.edu 

More information on the BallMapper algorithm can be found in 
Paweł Dłotko, Davide Gurnari & Radmila Sazdanovic, "Mapper–Type Algorithms for Complex Data and Relations" https://doi.org/10.1080/10618600.2024.2343321  

as well in the `pyballmapper` package documentation and examples
https://pyballmapper.readthedocs.io

In [2]:
import numpy as np
import pandas as pd

from tqdm.auto import tqdm

In [3]:
from pyballmapper import BallMapper
from pyballmapper.plotting import graph_GUI
from bokeh.plotting import show
from matplotlib import colormaps as cm

## Numerical knot invariants

In [4]:
coloring_df = pd.read_csv("data/June24knotinfo.csv", index_col=0)
coloring_df["Signature mod4"] = coloring_df.Signature % 4
coloring_df

,Fibered,Crossing Number,Unknotting Number,Genus-3D,Crosscap Number,Bridge Index,Braid Index,Braid Length,Signature,Thurston-Bennequin Number,...,Turaev Genus,Clasp Number,L-space,Epsilon,Quasialternating,Almost Alternating,Adequate,Unknotting Number-Algebraic,Ropelength,Signature mod4
Name,,,,,,,,,,,,,,,,,,,,,
3_1,Y,3,1,1,1,2,2,3.0,-2,[1][-6],...,0,1,Yes,1,Y,N,Y,1,32.74360,2
4_1,Y,4,1,1,2,2,3,4.0,0,[-3][-3],...,0,1,No,0,Y,N,Y,1,42.08870,0
5_1,Y,5,2,2,1,2,2,5.0,-4,[3][-10],...,0,2,Yes,1,Y,N,Y,2,47.20160,0
5_2,N,5,1,1,2,2,3,6.0,-2,[1][-8],...,0,1,No,1,Y,N,Y,1,49.47010,2
6_1,N,6,1,1,2,2,4,7.0,0,[-3][-5],...,0,1,No,0,Y,N,Y,1,56.70580,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12n_884,N,12,1,2,4,3,5,NaN,0,[-4][-8],...,1,NaN,No,0,NaN,NaN,NaN,1,96.96986,0
12n_885,N,12,[1;2],3,[2;5],3,5,NaN,0,[-5][-7],...,1,NaN,No,0,NaN,NaN,NaN,1,100.51760,0
12n_886,N,12,2,3,[2;5],3,5,NaN,-2,[-2][-10],...,1,NaN,No,1,NaN,NaN,NaN,2,100.89584,2
12n_887,Y,12,2,4,[2;5],3,3,NaN,-4,[2][-14],...,1,NaN,No,1,NaN,NaN,NaN,2,95.93502,0
12n_888,Y,12,5,5,[2;4],3,3,NaN,-8,[9][-21],...,1,NaN,No,1,NaN,NaN,NaN,4,96.24508,0

## Alexander

In [10]:
alex_df = pd.read_csv("data/alex_knotinfo_centered.csv", index_col=0)
alex_df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
knot_id,,,,,,,,,,,,,,,,,
3_1,0,0,0,0,0,0,0,1,-1,1,0,0,0,0,0,0,0
4_1,0,0,0,0,0,0,0,-1,3,-1,0,0,0,0,0,0,0
5_1,0,0,0,0,0,0,1,-1,1,-1,1,0,0,0,0,0,0
5_2,0,0,0,0,0,0,0,2,-3,2,0,0,0,0,0,0,0
6_1,0,0,0,0,0,0,0,-2,5,-2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12n_884,0,0,0,0,0,0,5,-20,31,-20,5,0,0,0,0,0,0
12n_885,0,0,0,0,0,-2,13,-35,49,-35,13,-2,0,0,0,0,0
12n_886,0,0,0,0,0,2,-13,38,-53,38,-13,2,0,0,0,0,0
12n_887,0,0,0,0,1,-6,16,-25,29,-25,16,-6,1,0,0,0,0
12n_888,0,0,0,1,-1,-1,6,-11,13,-11,6,-1,-1,1,0,0,0

In [11]:
EPS = 10
alex_bm = BallMapper(X=alex_df.to_numpy(), eps=EPS, verbose="tqdm")

Finding vertices...

  0%|          | 0/2977 [00:00<?, ?it/s]

76 vertices found.
Computing points_covered_by_landmarks...

  0%|          | 0/76 [00:00<?, ?it/s]

Running BallMapper
Finding edges...

0it [00:00, ?it/s]

Creating Ball Mapper graph...
Done

In [12]:
alex_bm.add_coloring(coloring_df=coloring_df[["Determinant"]].reset_index(drop=True))

alex_gui = graph_GUI(
    alex_bm.Graph,
    cm.get_cmap("Reds"),
    ["Determinant"],
    render_iterations=1000,
)
alex_gui.color_by_variable("Determinant")

show(alex_gui.plot)

color by variable Determinant
MIN_VALUE: 9.780, MAX_VALUE: 369.000

## Jones

In [13]:
jones_df = pd.read_csv("data/jones_knotinfo.csv", index_col=0)
jones_df

,t-13,t-12,t-11,t-10,t-9,t-8,t-7,t-6,t-5,t-4,...,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16
knot_id,,,,,,,,,,,,,,,,,,,,,
3_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5_1,0,0,0,0,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
5_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12n_884,0,0,0,0,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
12n_885,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
12n_886,0,0,0,0,0,0,0,0,0,0,...,8,-3,0,0,0,0,0,0,0,0
12n_887,0,0,0,0,0,0,0,0,0,0,...,-20,15,-10,5,-1,0,0,0,0,0
12n_888,0,0,0,0,0,0,0,0,0,0,...,1,1,-4,6,-8,9,-8,6,-4,1

In [14]:
EPS = 10
jones_bm = BallMapper(X=jones_df.to_numpy(), eps=EPS, verbose="tqdm")

Finding vertices...

  0%|          | 0/2977 [00:00<?, ?it/s]

169 vertices found.
Computing points_covered_by_landmarks...

  0%|          | 0/169 [00:00<?, ?it/s]

Running BallMapper
Finding edges...

0it [00:00, ?it/s]

Creating Ball Mapper graph...
Done

In [16]:
jones_bm.add_coloring(
    coloring_df=coloring_df[
        [
            "Signature",
            "Signature mod4",
        ]
    ].reset_index(drop=True)
)

jones_gui = graph_GUI(
    jones_bm.Graph,
    cm.get_cmap("jet"),
    #  ['signature', 'signature_mod4', 'determinant', 'number_of_crossings'],
    ["Signature", "Signature_mod4"],
    render_iterations=1000,
)
jones_gui.color_by_variable("Signature")

show(jones_gui.plot)

color by variable Signature
MIN_VALUE: -8.000, MAX_VALUE: 6.000

## Khovanov

In [17]:
khov_df = pd.read_csv("data/khovanov_knotinfo.csv", index_col=0)
khov_df

,q-26_t-11_T0,q-26_t-11_T1,q-26_t-11_T2,q-26_t-11_T3,q-26_t-11_T4,q-26_t-11_T5,q-26_t-11_T6,q-26_t-11_T7,q-26_t-11_T8,q-26_t-10_T0,...,q32_t11_T8,q32_t12_T0,q32_t12_T1,q32_t12_T2,q32_t12_T3,q32_t12_T4,q32_t12_T5,q32_t12_T6,q32_t12_T7,q32_t12_T8
knot_id,,,,,,,,,,,,,,,,,,,,,
3_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12n_884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_888,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [18]:
EPS = 10
khov_bm = BallMapper(X=khov_df.to_numpy(), eps=EPS, verbose="tqdm")

Finding vertices...

  0%|          | 0/2977 [00:00<?, ?it/s]

179 vertices found.
Computing points_covered_by_landmarks...

  0%|          | 0/179 [00:00<?, ?it/s]

Running BallMapper
Finding edges...

0it [00:00, ?it/s]

Creating Ball Mapper graph...
Done

In [19]:
khov_bm.add_coloring(
    coloring_df=coloring_df[
        [
            "Signature",
            "Signature mod4",
        ]
    ].reset_index(drop=True)
)

khov_gui = graph_GUI(
    khov_bm.Graph,
    cm.get_cmap("jet"),
    #  ['signature', 'signature_mod4', 'determinant', 'number_of_crossings'],
    ["Signature", "Signature_mod4"],
    render_iterations=1000,
)
khov_gui.color_by_variable("Signature")

show(khov_gui.plot)

color by variable Signature
MIN_VALUE: -8.000, MAX_VALUE: 6.000

## HFK

In [20]:
hfk_df = pd.read_csv("data/HFK_knotinfo.csv", index_col=0)
hfk_df

,a-5_m-10,a-5_m-9,a-5_m-8,a-5_m-7,a-5_m-6,a-5_m-5,a-5_m-4,a-5_m-3,a-5_m-2,a-5_m-1,...,a5_m-1,a5_m0,a5_m1,a5_m2,a5_m3,a5_m4,a5_m5,a5_m6,a5_m7,a5_m8
knot_id,,,,,,,,,,,,,,,,,,,,,
3_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12n_884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12n_888,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [21]:
EPS = 10
hfk_bm = BallMapper(X=hfk_df.to_numpy(), eps=EPS, verbose="tqdm")

Finding vertices...

  0%|          | 0/2977 [00:00<?, ?it/s]

161 vertices found.
Computing points_covered_by_landmarks...

  0%|          | 0/161 [00:00<?, ?it/s]

Running BallMapper
Finding edges...

0it [00:00, ?it/s]

Creating Ball Mapper graph...
Done

In [22]:
hfk_bm.add_coloring(
    coloring_df=coloring_df[["Signature", "Signature mod4", "Determinant"]].reset_index(
        drop=True
    )
)

hfk_gui = graph_GUI(
    hfk_bm.Graph,
    cm.get_cmap("jet"),
    #  ['signature', 'signature_mod4', 'determinant', 'number_of_crossings'],
    ["Signature", "Signature mod4", "Determinant"],
    render_iterations=1000,
)
hfk_gui.color_by_variable("Determinant")

show(hfk_gui.plot)

color by variable Determinant
MIN_VALUE: 11.764, MAX_VALUE: 369.000

In [23]:
hfk_gui.color_by_variable("Signature")

show(hfk_gui.plot)

color by variable Signature
MIN_VALUE: -8.000, MAX_VALUE: 6.000

## Inspecting the BM graphs

`bm.Graph` is a NetworkX graph where each node contains a list of points covered by the corresponding ball

In [25]:
alex_bm.Graph

let us look inside node `42` in the Alexander BM

In [26]:
alex_bm.Graph.nodes[42]

{'landmark': 1009,
 'points covered': array([ 848,  860,  939, 1002, 1009, 1014, 1022, 1068, 1116, 1193, 1226,
        1258, 1273, 1279, 1284, 1286, 1496, 1499, 1500, 1507, 1565, 1578,
        1585, 1593, 1687, 1703, 1735, 1761, 1767, 1792, 1850, 1876, 1878,
        1905, 1922, 1923, 1955]),
 'size': 37,
 'Determinant': 271.9189189189189,
 'size rescaled': 9.79245283018868,
 'color': '#d11e1f'}

we can use the `points covered` list to retrieve information about the knots covered by ball `42`

In [30]:
knots_in_42 = alex_df.iloc[alex_bm.Graph.nodes[42]["points covered"]].index.tolist()
knots_in_42

['12a_48',
 '12a_60',
 '12a_139',
 '12a_202',
 '12a_209',
 '12a_214',
 '12a_222',
 '12a_268',
 '12a_316',
 '12a_393',
 '12a_426',
 '12a_458',
 '12a_473',
 '12a_479',
 '12a_484',
 '12a_486',
 '12a_696',
 '12a_699',
 '12a_700',
 '12a_707',
 '12a_765',
 '12a_778',
 '12a_785',
 '12a_793',
 '12a_887',
 '12a_903',
 '12a_935',
 '12a_961',
 '12a_967',
 '12a_992',
 '12a_1050',
 '12a_1076',
 '12a_1078',
 '12a_1105',
 '12a_1122',
 '12a_1123',
 '12a_1155']

and we can look at their invariants

In [31]:
coloring_df.loc[knots_in_42]

,Fibered,Crossing Number,Unknotting Number,Genus-3D,Crosscap Number,Bridge Index,Braid Index,Braid Length,Signature,Thurston-Bennequin Number,...,Turaev Genus,Clasp Number,L-space,Epsilon,Quasialternating,Almost Alternating,Adequate,Unknotting Number-Algebraic,Ropelength,Signature mod4
Name,,,,,,,,,,,,,,,,,,,,,
12a_48,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,107.24221,0
12a_60,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,106.84094,0
12a_139,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,109.09913,0
12a_202,Y,12,1,4,5,3,5,NaN,0,[-8][-6],...,0,NaN,No,0,Y,N,Y,1,107.79548,0
12a_209,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,108.43657,0
12a_214,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,109.46562,0
12a_222,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,107.50494,0
12a_268,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,107.77150,0
12a_316,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,109.27569,0
12a_393,N,12,2,3,6,3,5,NaN,-4,[1][-15],...,0,NaN,No,1,Y,N,Y,2,107.96898,0
12a_426,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,109.80413,0
12a_458,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,2,106.94573,0
12a_473,Y,12,2,4,5,3,5,NaN,0,[-8][-6],...,0,NaN,No,0,Y,N,Y,1,107.65080,0
12a_479,Y,12,2,4,5,3,5,NaN,0,[-8][-6],...,0,NaN,No,0,Y,N,Y,1,107.23695,0
12a_484,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,107.53337,0
12a_486,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,2,108.66316,0
12a_696,Y,12,1,4,5,3,5,NaN,0,[-8][-6],...,0,NaN,No,0,Y,N,Y,1,106.37350,0
12a_699,Y,12,2,4,5,3,5,NaN,0,[-8][-6],...,0,NaN,No,0,Y,N,Y,1,107.04745,0
12a_700,Y,12,2,4,5,3,5,NaN,0,[-6][-8],...,0,NaN,No,0,Y,N,Y,1,107.12303,0
12a_707,Y,12,2,4,5,3,5,NaN,0,[-8][-6],...,0,NaN,No,0,Y,N,Y,1,106.16408,0
12a_765,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,107.55060,0
12a_778,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,106.12867,0
12a_785,Y,12,2,4,5,3,5,NaN,-4,[0][-14],...,0,NaN,No,1,Y,N,Y,2,109.15051,0
12a_793,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,105.74786,0
12a_887,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,107.57221,0
12a_903,N,12,2,3,6,3,5,NaN,-4,[1][-15],...,0,NaN,No,1,Y,N,Y,2,107.12262,0
12a_935,Y,12,1,4,5,3,5,NaN,0,[-8][-6],...,0,NaN,No,0,Y,N,Y,1,106.63013,0
12a_961,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,107.40626,0
12a_967,N,12,[2;3],3,5,3,5,NaN,4,[-15][1],...,0,NaN,No,-1,Y,N,Y,2,106.48603,0
12a_992,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,2,108.37376,0
12a_1050,Y,12,[2;3],4,5,3,5,NaN,0,[-6][-8],...,0,NaN,No,0,Y,N,Y,1,108.33089,0
12a_1076,Y,12,1,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,1,110.91057,0
12a_1078,N,12,2,4,5,3,4,NaN,0,[-6][-8],...,0,NaN,No,0,Y,N,Y,1,106.57323,0
12a_1105,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,2,107.02261,0
12a_1122,Y,12,2,4,5,3,5,NaN,0,[-6][-8],...,0,NaN,No,0,Y,N,Y,2,107.39530,0
12a_1123,Y,12,2,4,6,3,5,NaN,0,[-7][-7],...,0,NaN,No,0,Y,N,Y,2,107.01475,0
12a_1155,N,12,2,3,6,3,5,NaN,-4,[1][-15],...,0,NaN,No,1,Y,N,Y,2,107.32321,0